.antibot-message {
  margin: 9px 0 10px 8px;
  padding: 15px;
  word-wrap: break-word;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-radius: 2px;
  overflow-wrap: break-word;
}

.antibot-message-warning {
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  background-color: #fdf8ed;
  box-shadow: -8px 0 0 #e09600;
}

.antibot-message-error {
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  background-color: #fcf4f2;
  box-shadow: -8px 0 0 #e62600;
}
